body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* headings  */

.title-text {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 0 10% 0 10%;
}

.feature-heading {
  font-weight: 700;
}


/* Containers  */


.container-fluid {
  padding: 7% 15%;
}


/* section  */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
  color: black;
}

/* Title section  */

#title .container-fluid {
  padding: 3% 15% 17%;
  text-align: left;
}

/* Navigation bar  */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
  right: 30%;
  position: absolute;
  width: 60%;
  transform: rotate(25deg);
}

/* features section */

#features {
  position: relative;
}



.feature-box {
  padding: 5%;
}



.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section  */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 0 10% 0 10%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 14%;
  margin: 30px 30px 60px;
}

/* pricing  */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 0 10% 0 10%;
}

/* cta section */


.cta-header {
  font-family: "Montserrat", sans-serif;
  font-size: 4.0rem;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

/* footer  */

#footer {
  padding: 3% 15%;
}

.social-icons {
  margin: 20px 10px;
}

/* media queries  */

@media (max-width: 1028px) {
  #title .container-fluid {
      text-align: center;
  }
    .title-image {
      position: static;
      transform: rotate(0);
  }
}
